@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
  color: #000000;
  transition: all 100ms;
}

body.block {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.overflow.show {
  display: block;
}

.aside-nav {
  position: absolute;
  top: 100px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: all 900ms;
  padding: 15px;
  border-radius: 0 0 25px 25px;
}

.aside-nav.show {
  transform: translateX(0);
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 99999;
  background-color: #ffffff;
}

.navbar-ul-links {
  display: flex;
  gap: 50px;
}

.navbar-link a {
  font-weight: 500;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  background-color: #0DB75F;
  transition: all 0.3s ease-in-out;
}

.hamburguer.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header {
  width: 100%;
  height: 100vh;
  /* background-image: url(./assets/img/bg.png);
  background-position: center;
  background-repeat: no-repeat; */
}

.header-container {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  position: relative;
  /* z-index: 99; */
}

.header-content-welcome {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-welcome {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-welcome h1,
.project-content h1,
.contact h1,
.skills-content h1 {
  font-size: 40px;
}

.span-medium,
.btn {
  font-weight: 500;
}

.span-green {
  color: #0DB75F;
}

.span-opacity {
  color: rgba(0, 0, 0, 0.7);
}

.btn-area {
  display: flex;
  gap: 30px;
}

.btn {
  border: 2px solid #0DB75F;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  transition: ease-in-out .4s;
}

.btn:hover {
  background-color: #0DB75F;
  color: #ffffff;
}

.btn-contact {
  background-color: #0DB75F;
}

.btn-contact:hover {
  transform: scale(1.05);
}

.btn-downloadCV {
  color: #0DB75F;
}

.header-content-profile {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.content-profile-follow {
  display: flex;
}

.square-profile {
  position: relative;
  width: 390px;
  height: 390px;
}

.square-black {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 352px;
  height: 352px;
  border: 5px solid #000000;
  border-radius: 5px;
  z-index: 99;
}

.square-green {
  position: absolute;
  top: 0;
  right: 0;
  width: 352px;
  height: 352px;
  background-color: #0DB75F;
  border-radius: 5px;
  z-index: 9;
}

.profile {
  position: absolute;
  z-index: 999;
  top: -91px;
  right: 0;
  border-radius: 0 0 5px 5px;
}

.follow-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.follow-me span {
  transform: rotate(90deg);
  margin-bottom: 40px;
}

.line {
  width: 2px;
  height: 78px;
  background-color: #0DB75F;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.media-item {
  width: 32px;
  height: 32px;
  background-color: #0DB75F;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-item img {
  width: 32px;
}

.social-media a:nth-child(1) img {
  width: 24px;
}

.mouse-animation {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
  border: 2px solid #0DB75F;
  border-radius: 30px;
  width: 20px;
  height: 35px;
}

.scroll-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%);
  background-color: #0DB75F;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: 3s scrollMouseAnimation infinite;
}

@keyframes scrollMouseAnimation {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, 13px);
  }

  75% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 100px 0;
  overflow: hidden;
}

.skills,
.projects {
  padding: 0 10%;
}

.skills {
  width: 100%;
  /* height: 500px; */
  /* padding: 50px; */
  display: flex;
  /* justify-content: center; */
}

.skills-container {
  width: 75%;
  position: relative;
}

.animationRotate {
  position: absolute;
  top: 50%;
  right: -35%;
  width: 700px;
  height: 700px;
  border: 6px solid rgba(13, 183, 95, 0.2);
  animation: 20s rotateAnimation linear infinite;
  z-index: 9;
}

@keyframes rotateAnimation {
  0% {
    transform: translate(300px, -50%) rotate(0);
  }

  100% {
    transform: translate(300px, -50%) rotate(-360deg)
  }
}

.skills-block-one {
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.icon-line-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icon-skill {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  z-index: 9;
}

.span-filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 183, 95, 0.05);
  filter: blur(8px);
  border-radius: 50%;
  z-index: -1;
}

.is-45 {
  width: 24px;
  height: 24px;
  border: 3px solid rgb(13, 183, 95);
  transform: rotate(45deg);
  margin: 12px;
}

.line-skill {
  width: 3px;
  height: 150px;
  background-color: rgb(13, 183, 95);
  box-shadow: rgba(13, 183, 95, 0.12) 0px 2px 4px 0px, rgba(13, 183, 95, 0.32) 0px 2px 16px 0px;
}

.details-skills {
  max-width: 350px;
}

.details-skills h2 {
  margin: 10px 0 10px 0;
}

.projects {
  width: 100%;
  height: auto;
  /* padding: 50px 10px; */
  display: flex;
  /* justify-content: center;
  gap: 100px; */
}

.project-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 30px 20px;
}

.btn-github {
  color: #0DB75F;
}

.project-carousel {
  display: flex;
  flex-direction: column;
}

.content-carousel-limite {
  width: 920px;
  overflow: hidden;
  padding: 30px 15px;
  display: flex;
}

.content-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  flex-shrink: 0;
  transition: all 900ms;
}

.model-project {
  width: 200px;
  height: 280px;
  background-color: #0DB75F;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  transition: all 700ms;
}

.model-project:hover {
  transform: scale(1.05);
}

.scale {
  transform: scale(1.05);
}

.model-project::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.content-btns {
  padding: 0 15px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.prevBtnCarousel,
.nextBtnCarousel {
  background-color: #0DB75F;
  padding: 3px 10px;
  width: 85px;
  border: 0;
}

.prevBtnCarousel:hover,
.nextBtnCarousel:hover {
  background-color: #0db75fdc;
}

.prevBtnCarousel img,
.nextBtnCarousel img {
  width: 30px;
}

.line-hor {
  width: 660px;
  height: 3px;
  background-color: #0DB75F;
}

.contact {
  width: 100%;
  height: auto;
  /* padding: 50px 10px 100px 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.form-content {
  width: 400px;
}

.errorFeedback {
  color: red;
  font-size: .9rem;
}

#errorFormCamp {
  color: red;
  font-size: .9rem;
}

.errorFormCamp-content {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input label {
  margin: 10px 0 5px 0;
}

.label-input input,
.label-input textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #0DB75F;
  font-size: 1rem;
  margin-bottom: 5px;
}

.label-input input:focus,
.label-input textarea:focus {
  outline: none;
}

.label-input textarea {
  min-height: 43px;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: #0DB75F transparent;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #0DB75F;
  border: 0;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out .3s;
  margin-top: 15px;
}

.btn-submit:hover {
  background-color: #0db75fdc;
}

.footer {
  width: 100%;
  height: auto;
}

.footer-bottom {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0DB75F;
}

.footer-bottom span {
  color: #ffffff;
}

@media (min-width: 2000px) {
  .header {
    padding: 0 5%;
  }

  .main {
    padding: 100px 5%;
  }
}

@media (min-width: 2500px) {
  .header {
    padding: 0 10%;
  }

  .main {
    padding: 100px 10%;
  }
}

@media (max-width: 1600px) {
  .content-carousel-limite {
    width: 690px;
  }

  .line-hor {
    width: 430px;
  }
}

@media (max-width: 1450px) {

  .skills,
  .projects {
    padding: 0 6%;
  }
}

@media (max-width: 1200px) {
  .header-content-welcome {
    justify-content: flex-end;
  }

  .content-welcome h1,
  .project-content h1,
  .contact h1,
  .skills-content h1 {
    font-size: 30px;
  }

  .header-content-profile {
    flex-direction: column;
    gap: 15px;
  }

  .square-profile {
    position: relative;
    width: 300px;
    height: 300px;
  }

  .square-black {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 262px;
    height: 262px;
    border: 5px solid #000000;
    border-radius: 5px;
    z-index: 99;
  }

  .square-green {
    position: absolute;
    top: 0;
    right: 0;
    width: 262px;
    height: 262px;
    background-color: #0DB75F;
    border-radius: 5px;
    z-index: 9;
  }

  .profile {
    position: absolute;
    z-index: 999;
    top: -66px;
    right: 0;
    border-radius: 0 0 5px 5px;
    width: 262px;
  }

  .follow-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .follow-me span {
    transform: rotate(0deg);
    margin-bottom: 4px;
  }

  .line {
    width: 30px;
    height: 2px;
    background-color: #0DB75F;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .content-carousel-limite {
    width: 460px;
  }

  .line-hor {
    width: 200px;
  }

  .animationRotate {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 900px) {
  .header {
    height: auto;
    padding-bottom: 50px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .navbar {
    justify-content: space-around;
  }

  .navbar-logo,
  .hamburguer {
    margin: 0 30px;
  }

  .navbar-links {
    display: none;
  }

  .aside-nav .navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-ul-links {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .hamburguer {
    display: block;
  }

  .header-container {
    flex-direction: column;
    gap: 100px;
    padding-top: 30px;
  }

  .header-content-profile,
  .header-content-welcome {
    width: 100%;
    justify-content: center;
  }

  .mouse-animation {
    display: none;
  }

  .project-container {
    flex-direction: column;
    gap: 0;
  }

  .animationRotate {
    display: none;
  }
}

@media (max-width: 500px) {

  .content-welcome,
  .project-content {
    padding: 0 20px;
  }

  .content-welcome h1 {
    font-size: 25px;
  }

  .btn-area {
    justify-content: center;
  }

  .project-carousel {
    align-items: center;
  }

  .project-container {
    width: 100%;
  }

  .content-carousel-limite {
    width: 230px;
  }

  .line-hor {
    display: none;
  }

  .contact-content {
    padding: 0 20px;
  }

  .form-content {
    width: 100%;
  }
}

/* .main {
  display: none;
} */